@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://icon2.kisspng.com/20180330/wcq/kisspng-sashimi-smoked-salmon-lox-kebab-salmon-5abe3d588736f6.4079462815224169845539.jpg);
    background-size: 100px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}
h1{
 font-size: 65px ;
}

.color-box{
    padding: 40px ;
    margin: 10px;
    border-radius: 20px;
}
.respond-box {
    padding: 30px 100px;
    margin-bottom: 20px;
    border-radius: 20px;
}
div #red { 
    background-color: red;

}
div #blue { 
    background-color: blue;
}
div #green { 
    background-color: green;
}
div #yellow { 
    background-color: yellow;
}

#submit{
    display: none;
}
