@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1eaa28fb-38bc-4692-b3cf-db466ff930e7/d9cbsw3-20d51e9c-9e7f-475e-9b7a-9d57fed3ce9e.png/v1/fill/w_1024,h_724,q_75,strp/salmon_sushi_by_gogman-d9cbsw3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8xZWFhMjhmYi0zOGJjLTQ2OTItYjNjZi1kYjQ2NmZmOTMwZTcvZDljYnN3My0yMGQ1MWU5Yy05ZTdmLTQ3NWUtOWI3YS05ZDU3ZmVkM2NlOWUucG5nIiwid2lkdGgiOiI8PTEwMjQiLCJoZWlnaHQiOiI8PTcyNCJ9XV19.Qykv_jeWElf03iifA9webPG-p4c0solG_d-dOl9eG8I);
    background-size: 145px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}
h1{
 font-size: 60px ;
}

.color-box{
    padding: 40px ;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Nerko One', cursive;
    font-size: 30px ;
}
.respond-box {
    padding: 20px 85px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Nerko One', cursive;
    font-size: 30px ;
}
div #red { 
    background-color: red;

}
div #blue { 
    background-color: blue;
}
div #green { 
    background-color: green;
}
div #yellow { 
    background-color: yellow;
}
div #purple { 
    background-color: purple;
}
#submit{
    display: none;
}
